@import url("https://fonts.googleapis.com/css2?family=Staatliches&display=swap");

html,
body {
  background: #536976; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to bottom,
    #292e49,
    #536976
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to bottom,
    #292e49,
    #536976
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  color: white;
  padding: 0;
  margin: 0;
  font-family: "Staatliches", cursive;
  letter-spacing: 1px;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
